// Mensaje sin resultados
.mensajeSinResultados {
  padding: 2rem;
  text-align: center;
}

.mensajeCaja {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tituloSinResultados {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.textoSecundario {
  color: #555;
}

//////////////////////////////////////////////////////////////////
.filtrosRow {
  margin-top: 20px;
  margin-bottom: 30px;
}

.filtroLabel {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.filtroInput {
  border-radius: 6px;
  font-size: 14px;
  padding: 6px 10px;
}

.botonBuscar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 15px;
  padding: 10px 18px;
  background-color: #297eb9;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgb(13, 85, 96);
  }
}

.botonExcel {
  display: block;
  width: 100%;
  padding: 10px 18px;
  font-size: 15px;
  background-color: #4cb151;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #275c2a;
  }
}

.totalHeader {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  padding-top: 5px;
}

/////// TOOLTIP DE LOS TITULOS DE LAS COLUMNAS 
.thTooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  &:hover .thTooltipText {
    visibility: visible;
    opacity: 1;
  }
}

.thContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 600;
  color: #333;
}

.sortIcon {
  margin-left: 4px;
}

.thTooltipText {
   visibility: hidden;
  width: 220px;
  /* Ajusta según el texto */
  background-color: #00111c;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  bottom: -35px;
  /* Hace que aparezca debajo */
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;

  &:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
}

/// TOOLTIP CON LOS BOTONES DE ACCIONES 
.tooltipText {
  visibility: hidden;
  background-color: #212529;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-size: 0.75rem;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #212529 transparent transparent transparent;
  }
}

.btnIconoInfo {
  background-color: #297eb9;
  color: white;
  border: none;
  padding: 0.4rem;
  border-radius: 6px;

  &:hover {
    background-color: rgb(4, 65, 156);
  }
}