.parteBotonera {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1; // Necesario para stacking context del dropdown

  .parteBtn {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #f0f4f8;
    color: #333;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #82bafa;
      border-color: #297fba;
    }

    &.activo {
      background-color: #4cb04f;
      color: #fff;
      border-color: #3b853d;
      box-shadow: 0 4px 8px rgba(9, 133, 30, 0.3);
    }
  }
}

/* Estilos para el Tooltip */
.parteTooltip {
  position: relative;
  display: inline-block;

  &:hover .RepoProduTooltipText {
    visibility: visible;
    opacity: 1;
  }

  .parteTooltipText {
    visibility: hidden;
    background-color: #297fba;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: #297fba transparent transparent transparent;
    }
  }
}

// Mensaje sin resultados
.mensajeSinResultados {
  padding: 2rem;
  text-align: center;
}

.mensajeCaja {
  background-color: #f8f9fa;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tituloSinResultados {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

//////////// LOADER 
.spinnerOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; // Ajustá según el layout
  background-color: rgba(255, 255, 255, 0.8); // Fondo suave translúcido
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  color: #333;
  animation: fadeIn 0.3s ease-in-out;
}

.spinnerText {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #555;
  font-weight: 500;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.parteSelect {
  select {
    position: relative;
    z-index: 9999 !important;
  }
}

